{% extends "base.html" %}

{% block title %}Calendário {{ ano }}{% endblock %}

{% block content %}
<h1>Calendário {{ ano }}</h1>

{% for mes in calendario %}
    <h2>{{ mes.nome_mes }}</h2>

    <table border="1" cellpadding="4" cellspacing="0">
        <tr>
            {% for d in dias_semana %}
                <th>{{ d }}</th>
            {% endfor %}
        </tr>

        {% for semana in mes.semanas %}
            <tr>
                {% for dia in semana %}
                    <td>
                        {% if dia.dia %}
                            {{ dia.dia }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endfor %}
{% endblock %}